$env:XDG_CONFIG_HOME = $env:XDG_CONFIG_HOME ?? $env:APPDATA 
$env:XDG_DATA_HOME = $env:XDG_DATA_HOME ?? $env:LOCALAPPDATA
$env:XDG_STATE_HOME = $env:XDG_STATE_HOME ?? $env:LOCALAPPDATA
$env:XDG_CACHE_HOME = $env:XDG_CACHE_HOME ?? $env:TEMP

if ($IsWindows) {
  $envFiles = Get-ChildItem -Path "$env:XDG_CONFIG_HOME/PowerShell/EnvironmentVariables" -Filter "*.ps1" -File
  foreach ($envFile in $envFiles) {
    . $envFile.FullName
  }
}

Invoke-Expression (&starship init powershell)
Set-PSReadlineKeyHandler -Key Tab -Function MenuComplete
Set-PSReadlineOption -ShowToolTips
Set-PSReadLineOption -PredictionSource History
