{{- if eq .chezmoi.os "darwin" -}}
export XDG_BIN_HOME="${XDG_BIN_HOME:-$HOME/Library/Homebrew/bin}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-$HOME/Library/Caches}"
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/Library/Configuration}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/Library/LocalLibrary}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-$HOME/Library/Logs}"
export ZDOTDIR="${ZDOTDIR:-${XDG_CONFIG_HOME}/zsh}"

# TODO: remove this when the issue with `libfido2` is resolved
export SSH_SK_PROVIDER=$XDG_DATA_HOME/lib/sk-libfido2.dylib
{{ template "zsh/environment.tmpl" . -}}
{{- end }}